*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  margin-bottom: 0.25rem;
  margin-top: 3px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
}

.invalid {
  color: red;
}

.errmsg {
  color: red;
}

* Display Flex */

.center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.end-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}

